<h1>Editar Torneo</h1>

<%= render 'form' %>

<div class="text-center">
<%= link_to 'Show', @tournament,class: "btn- btn-link" %> |
<%= link_to 'Back', tournaments_path,class: "btn btn-link" %>
</div>